
<section class="main-content">
   
  </section>
  <footer class="container">
    <div class="content">
      <div class="content-header">
        <div class="image-container">
          <img
            src="../assets/images/peterwhart.png"
            alt="logo"
            class="image-logo"
          />
        </div>
  
        <div class="icons-container">
          <a class="icon" href="https://www.facebook.com/PETERwHARTGallery">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a class="icon" href="https://www.linkedin.com/in/peterwhart/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
          <a class="icon" href="https://twitter.com/pwhgallery">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a class="icon" href="https://www.youtube.com/channel/UCO_ZtXhNs-BV8BqrJx0zAig/featured">
            <fa-icon [icon]="faYoutube"></fa-icon>
          </a>
        </div>
      </div>
  
      <div class="content-body">
        <div class="content-left-col">
          <div class="address-container">
            <h4 class="address-info">367 Saint-Paul Street East</h4>
            <h4 class="address-info">Montreal, QC</h4>
            <h4 class="address-info">H2Y 1H3</h4>
            <h4 class="address-info">Canada</h4>
          </div>
  
          <div class="email-container">
            <a class="email-link" href="mailto:contact@peterwhart.com"
              >contact@PETERwHART.com</a
            >
          </div>
  
          <div class="phone-container">
            <a class="phone-link" href="tel:+1 888-856-6325">+1 888-856-6325</a>
            <a class="phone-link" href="tel:514-856-6325">514-856-6325</a>
          </div>
  
          <div class="schedule-container">
            <h5 class="schedule-title">Opening hours</h5>
            <div class="schedule-lists">
              <ul class="schedule-list">
                <li class="schedule-item">Mon</li>
                <li class="schedule-item">Tue</li>
                <li class="schedule-item">Wed</li>
                <li class="schedule-item">Thu</li>
                <li class="schedule-item">Fri</li>
                <li class="schedule-item">Sat</li>
                <li class="schedule-item">Sun</li>
              </ul>
              <ul class="schedule-list">
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="content-right-col">
          <ul class="menu-container">
            <li class="menu-item">
              <a href="#">THE ARTIST</a>
              <fa-icon class="dropdown-icon" [icon]="faChevronDown"></fa-icon>
              <div class="hidden-hover">
                <span class="hidden-hover-item">Blog</span>
              </div>
            </li>
            <li class="menu-item">
              <a href="#">THE GALLERY</a>
              <fa-icon class="dropdown-icon" [icon]="faChevronDown"></fa-icon>
              <div class="hidden-hover">
                <span class="hidden-hover-item">Testimonials</span>
                <span class="hidden-hover-item">Event & news</span>
                <span class="hidden-hover-item">The studio</span>
              </div>
            </li>
            <li class="menu-item">
              <a href="#">ARTWORKS</a>
            </li>
            <li class="menu-item">
              <a href="#">CONTACT</a>
            </li>
          </ul>
  
          <div class="policy-container">
            <a href="#" class="policy-info">Shipping Policy</a>
            <a href="#" class="policy-info">Privacy Policy</a>
          </div>
  
          <div class="subscribe-container">
            <h5 class="subscribe-title">Subscribe to our newsletter</h5>
            <label for="emailInput" class="subscribe-label">
              Email
              <span style="color: red;">*</span>
            </label>
            <input
              class="subscribe-input"
              id="emailInput"
              type="email"
              placeholder="Type your email here"
            />
            <button class="subscribe-btn" type="submit">Submit</button>
          </div>
  
          <div class="schedule-container-desktop">
            <h5 class="schedule-title">Opening hours</h5>
            <div class="schedule-lists">
              <ul class="schedule-list">
                <li class="schedule-item">Mon</li>
                <li class="schedule-item">Tue</li>
                <li class="schedule-item">Wed</li>
                <li class="schedule-item">Thu</li>
                <li class="schedule-item">Fri</li>
                <li class="schedule-item">Sat</li>
                <li class="schedule-item">Sun</li>
              </ul>
              <ul class="schedule-list">
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
                <li class="schedule-item">10AM - 6PM</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="copyright-container">
      <h6 class="copyright-info">
        ©2022 PETERwHART Gallery All rights reserved.
      </h6>
    </div>

  </footer>
  
  